### CLUSTERING ANALYSIS

#### Objective:
The objective of this assignment is to introduce to various clustering algorithms, including K-Means, hierarchical, and DBSCAN, and provide hands-on experience in applying these techniques to a real-world dataset.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, RobustScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans, DBSCAN
from sklearn.metrics import silhouette_score, silhouette_samples
from sklearn.neighbors import NearestNeighbors
from scipy import stats

#### Datasets :

In [2]:
df = pd.read_excel("EastWestAirlines.xlsx")
df.shape

(26, 5)

#### Data Preprocessing:
1.	Preprocess the dataset to handle missing values, remove outliers, and scale the features if necessary.

In [3]:
df.head()

,East-West Airlines is trying to learn more about its customers. Key issues are their,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,"flying patterns, earning and use of frequent f...",NaN,NaN,NaN,NaN
1,card. The task is to identify customer segmen...,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN
4,Source: Based upon real business data; company...,NaN,NaN,NaN,NaN

In [4]:
def load_eastwest_excel(path):
    # read first 30 rows to find the header row that includes 'ID' or 'Balance' etc.
    preview = pd.read_excel(path, header=None, nrows=40, engine="openpyxl")
    header_row = None
    for idx, row in preview.iterrows():
        # convert row values to strings and lowercase for matching
        vals = [str(x).lower() for x in row.fillna("").values]
        # try to detect a row that contains some known column names
        if any('id' == v.strip() for v in vals) or any('balance' in v for v in vals) or any('qual_miles' in v for v in vals) or any('bonus_miles' in v for v in vals):
            header_row = idx
            break
    if header_row is None:
        raise ValueError("Could not auto-detect header row. Please supply skiprows manually.")
    # read again with header
    df = pd.read_excel(path, header=header_row, engine="openpyxl")
    # drop completely-empty columns created by messy files
    df = df.loc[:, ~df.columns.str.contains("^unnamed", case=False)]
    # drop rows that are fully NaN
    df = df.dropna(how='all')
    df = df.reset_index(drop=True)
    return df, header_row

In [5]:
file_path = "EastWestAirlines.xlsx"
df_raw, detected_header_row = load_eastwest_excel(file_path)
print(f"Detected header row: {detected_header_row}")
print("Data shape after load:", df_raw.shape)
display(df_raw.head())

TypeError: bad operand type for unary ~: 'float'